html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  font-family: "DM Sans", sans-serif;
}


.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.hero {
  min-height: 85dvh;
  background: url(../img/hero/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(1, 12, 36, 1);
}



header {
  padding: 8px 0;
  background-color: rgba(1, 12, 36, 1);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  font-size: 24px;
  color: white;

}

.header__nav {
  display: flex;
  align-items: center;
  gap: 35px;
}

.header__nav a {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.header__r {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn {
  padding: 10px 20px;
  border-radius: 12px;
  background: rgba(45, 117, 240, 1);
  font-weight: 600;
  font-size: 16px;
  color: white;
  line-height: 1.3;
}

.login-btn {
  background: transparent;
  border: 1px solid white;
}



.hero-c {
  margin-top: 40px;

}

.hero__inner {
  max-width: 577px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.hero__users {
  display: flex;
  align-items: center;
  gap: 12px;
  background: rgba(45, 117, 240, 0.25);
  padding: 6px 16px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: fit-content;
  color: white;
  font-size: 16px;
}

h1 {
  font-weight: 500;
  font-size: 72px;
  line-height: 1.3;
  color: white;
}

.bold {
  font-weight: 700;
}

.blue {
  color: rgba(45, 117, 240, 1);
}

.hero-undert {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.55;
}

.d-block {
  display: flex;
  align-items: center;
  gap: 16px;

  overflow: hidden;
}

.hero-btn {
  padding: 14px 20px;
}

.d-block p {
  font-size: 16px;
  line-height: 1.55;
  font-weight: 400;
  color: white;

}

.gold {
  color: rgba(243, 193, 57, 1);
  font-weight: 700;
}

.hero-banner {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.05);
  position: relative;
  width: 100%;
  max-width: 481px;
  overflow: hidden;
  padding-top: 12px;
  margin-top: 20px;
}

.hero__banner-top {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(56.2% 125.45% at 26.09% 65.15%, #CF9413 0%, #F3C139 100%);
  max-width: 292px;
  width: 100%;
  border-bottom-right-radius: 16px;
  height: 66px;
}

.banner-gold {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 292px;
  position: static;
  z-index: 100;
}

.banner-gold p {
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
}

.banner-gold svg {
  width: 100%;
  max-width: 28px;
}

.banner-more {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 700;
  color: rgba(45, 117, 240, 1);
}

.hero__banner-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-stars {
  display: flex;
  align-items: center;
  gap: 4px;
  border-right: 1px solid white;
  padding-right: 22px;
}

.banner-stars p {
  font-size: 16px;
  font-weight: 700;
  color: rgba(45, 117, 240, 1) !important;
}

.hero-banner {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.blue {
  color: rgba(45, 117, 240, 1);
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.hero__banner-bot p {
  font-size: 16px;
  color: white;
}

.trust-inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  overflow: hidden;

}

.trusted {
  background-color: rgba(1, 12, 36, 1);
  padding-bottom: 60px;
  margin-top: -10px;
}

.trust-inner p {
  text-align: center;
  font-size: 16px;
  color: white;
}


@keyframes drive {
  0% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(0%);
  }
}




.trust-elems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 72px;
  animation: drive 90s linear alternate;

}

.trust-elems img {
  filter: grayscale(10);
}

.solut {
  padding: 70px 0 33px 0;
}



.solut-txt {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.solut-txt p {
  font-size: 16px;
  text-align: center;
}

.solut-txt h2 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  line-height: 1.35;
}


.solut__inner {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(../img/solut/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  min-height: 624px;
  width: 100%;
}

.solut-l {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-end;
  max-width: 380px;
  width: 100%;
}

.solut-elem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.solut-elem p {
  font-size: 22px;
  font-weight: 500;
}

.solut-m {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 596px;
}

.solut-m img {
  width: 100%;
}

.solut-r {
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;

}

.tables {
  padding: 70px 0;
}

.tables__inner {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
}

.table-elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(235, 237, 244, 1);
  border-radius: 16px;
  padding: 45px;
  max-width: 282px;
  width: 100%;
  border: 1px solid rgba(0, 5, 16, 0.1);
  gap: 5px;
}

.table-elem h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  color: rgba(45, 117, 240, 1);
  text-align: center;
}

.table-elem p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 5, 16, 0.6);
}

.portf {
  background: rgba(1, 12, 36, 1);
  padding: 70px 0;
  background-image: url(../img/portf/desk.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100px 0;
}

.portf__inner {
  display: flex;
  width: 100%;
  min-height: 500px;
  justify-content: flex-end;

}

.portf-r {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 640px;
  width: 100%;
}

.portf-txt-top {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.portf-txt-top h2 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  color: white;
}

.portf-txt-top p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.portf-txt-bot {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portf__bot-elem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

.portf__bot-elem h3 {
  font-size: 18px;
  font-weight: 500;
  color: white;
  line-height: 1.2;
}

.portf__bot-elem p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.revs {
  padding: 70px 0;
  background: rgba(245, 246, 249, 1);
}

.revs-txt {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.revs-txt p {
  text-align: center;
  font-size: 16px;

}

.revs-txt h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}

.revs__slider {
  display: flex;

  margin-top: 40px;
}

.revs__elems {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

.revs__elem {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: rgba(255, 255, 255, 1);
  padding: 32px 24px;
  border-radius: 24px;
  max-width: 376px;
  width: 100%;

}

.revs__elem-t {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.revs-t-l {
  display: flex;
  align-items: center;
  gap: 8px;

}

.revs-l-col {
  display: flex;
  flex-direction: column;
  gap: 3px;

}

.revs-l-col h4 {
  font-size: 18px;
  font-weight: 500;

}

.rev-l-row {
  display: flex;
  align-items: center;
  gap: 3px;
}

.rev-l-row p {
  color: rgba(0, 5, 16, 0.6);
  font-size: 14px;
  font-weight: 400;
}

.revs-t-r {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 20px;
  font-weight: 900;
  color: rgba(247, 158, 27, 1);
}

.revs__elem-b {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.35;
  color: rgba(0, 5, 16, 0.6);
}

.revs__slider {
  position: relative;

}

.swiper-pagination {
  bottom: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
}

.about {
  background: rgba(1, 12, 36, 1);
  padding: 70px 0;
}

.about-txt {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  justify-content: center;

}

.about-txt p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.about-txt h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  color: white;
}

.about-elems {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.about-elem {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 386px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px;
  border-radius: 24px;
}

.about__elem-b {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.about__elem-b h4 {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.35;
}

.about__elem-b p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.35;
}

.ab-btn {
  margin-top: 12px;
  padding: 14px 20px;
  line-height: 1.4;
}

.tg {
  padding: 50px 0;
  background: rgba(1, 12, 36, 1);
}

.tg__inner {
  position: relative;
  padding: 50px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding-right: 120px;
}

.tg-l {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 824px;
  width: 100%;
}

.tg-l h2 {
  color: white;
  font-size: 40px;
  font-weight: 500;

}

.tg-l p {
  font-size: 16px;
  line-height: 1.45;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.tg-btn {
  padding: 10px 20px;
  line-height: 1.4;
}

.tg-logo {
  position: absolute;
  top: -5%;
  right: 6%;
}

footer {
  padding: 80px 0;
  background: rgba(1, 12, 36, 1);
}

.footer__inner {
  display: flex;
  justify-content: space-between;

}

.footer-l {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 620px;
}

.footer-l p {
  font-size: 16px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.footer-nav p {
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-bottom: 5px;
}

.footer-nav a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.footer-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.footer-t-btn {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  text-align: center;
}

.dop-bod {
  background: rgba(1, 12, 36, 1);
}

.dop-cc {
  margin-top: 40px;
  background: rgba(1, 12, 36, 1);
}

.dop-cc h1 {
  color: white;
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 30px;
}

.dop-cc p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 1.45;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.dop-cc h2 {
  margin-bottom: 20px;
  color: white;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.4;
}

.mb-80 {
  margin-bottom: 80px;
}

.mob {
  display: none;
}

@media(max-width:1450px) {
  .login-btn {
    padding: 8px 16px;
    font-size: 16px;
  }

  .reg-btn {
    padding: 8px 16px;
    font-size: 16px;
  }

  .hero {
    background-size: 120%;
    background-position: center top;
  }

  .trust-elems img {
    max-width: 80px;
  }

  .logo img {
    max-width: 90px;
  }

  .logo span {
    font-size: 22px;
  }

  .portf {
    background: rgba(1, 12, 36, 1);
    padding: 70px 0;
    background-image: url(../img/portf/desk.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -90px 0;
  }
}

@media(max-width:767px) {
  .logo img {
    max-width: 40px;
  }

  .logo span {
    font-size: 16px;
  }

  .mob {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .header__r {
    display: none;

  }

  .dop-cc h1 {
    font-size: 32px;
  }

  .dop-cc p {
    font-size: 14px;
  }

  .dop-cc h2 {
    font-size: 24px;
  }

  .hero__inner {
    margin-top: 40dvh;
  }


  .hero__users img {
    max-width: 56px;
  }

  .hero__users p {
    font-size: 14px;
  }

  .hero__inner h1 {
    font-size: 48px;
    font-weight: 500;

  }

  .hero-undert {
    font-size: 14px;
  }

  .d-block {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .banner-gold p {
    font-size: 14px;
  }

  .banner-more span {
    display: none;
  }

  .desk {
    display: none;
  }

  .banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(56.2% 125.45% at 26.09% 65.15%, #CF9413 0%, #F3C139 100%);
    max-width: 254px;
    width: 100%;
    border-bottom-right-radius: 16px;
    height: 66px;
  }

  .trusted {
    padding-top: 60px;
  }



  .solut-txt h2 {
    font-size: 32px;
  }

  .solut__inner {
    flex-direction: column;
    gap: 530px;
    align-items: flex-start;
    background-size: 1000px;
    background-position: center;
  }

  .solut-l {
    align-items: flex-start;
    gap: 30px;

  }

  .solut-l .solut-elem {
    flex-direction: row-reverse;
  }

  .solut-elem p {
    font-size: 18px;
  }

  .solut-m {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 596px;
    width: 100%;
  }

  .solut-r {
    gap: 30px;
  }

  .tables__inner {
    flex-wrap: wrap;
  }

  .table-elem {
    max-width: 46%;
    padding: 25px;
    border-radius: 16px;
    min-height: 160px;
  }

  .portf__inner {
    margin-top: 490px;
  }

  .portf-txt-top h2 {
    font-size: 32px;
  }

  .portf-txt-top p {
    line-height: 1.35;
    font-size: 14px;
  }

  .portf__bot-elem p {
    font-size: 14px;
  }

  .revs-txt h2 {
    font-size: 32px;
  }

  .about-txt h2 {
    font-size: 32px;
  }

  .about__elem-b p {
    font-size: 14px;
  }

  .tg__inner {
    flex-direction: column;
    gap: 94px;
    align-items: flex-start;
    padding: 32px 24px;
  }

  .tg-l h2 {
    color: white;
    font-size: 32px;
    line-height: 1.3;
    font-weight: 500;
  }

  .tg-l p {
    font-size: 14px;
    line-height: 1.4;
  }

  .footer__inner {
    flex-wrap: wrap;
    row-gap: 40px;
  }

  .footer-l {
    gap: 40px;
  }

  .footer-btns {
    flex-direction: row;
    width: 100%;
  }

  .footer-btn {
    width: 100%;
    text-align: center;
  }

  .footer-t-btn {
    width: 100%;
    text-align: center;
  }

  .footer-logo img {
    max-width: 55px;
  }

  .footer-logo span {
    font-size: 24px;
  }

  .footer-nav a {
    font-size: 14px;
  }

  .footer-nav p {
    font-size: 16px;
  }

  .footer-l p {
    font-size: 14px;
  }

  .portf {
    background: rgba(1, 12, 36, 1);
    padding: 70px 0;
    background-image: url(../img/portf/desk.png);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .hero {
    min-height: 85dvh;
    background: url(../img/mob/mob-her2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(1, 12, 36, 1);
    padding-bottom: 40px;
  }

  .about {
    margin-bottom: -10px;
  }

  .tg {
    margin-bottom: -5px;
  }

  .trust-elems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
    animation: drive 80s linear alternate;

  }

  .revs__slider {
    flex-wrap: nowrap;
  }

  .revs__elems {
    flex-wrap: nowrap;
    gap: 0;
    justify-content: flex-start;
  }

  .trust-elems img {
    max-height: 28px;

  }

}

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  min-height: 100dvh;
  width: 280px;
  background: rgba(14, 24, 47, 1);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(120%);
  transition: all .3s;
  z-index: 1000;
  padding: 27px 24px 24px 24px;
}

.burger-menu.open {
  transform: translateX(0%);
}

html.ov {
  overflow: hidden;
}

.burger-nav {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 38px;
  align-items: flex-start;
  align-self: flex-start;
}

.burger-nav a {
  font-weight: 500;
  font-size: 20px;
  color: white;
}

.burger-btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-top: auto;
}

.burger-btn {
  text-align: center;
}

.burger-btn-t {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  text-align: center;
}